<!DOCTYPE html>
<html>
  <head>
    <title>Bullseye! Tutoring</title>
  </head>
  <body>
      <!-- <h1>This is an example!</h1>  -->
        <h3>
        <a href="http://www.gucas.ac.cn/">welcome to UCAS! CLICK HERE</a>
        </h3>
        <p id="blackboard"></p> 
      <section id="blackboard"></section>
      
  <p>
    <h1><%= link_to 'My Blog', controller: 'articles' %></h1>
  </p>
    </section>
    
  </body>
</html>